<div data-role="header">
	<a href="#app_menus_page">Menu</a>
	<h1>{$title}</h1>
    <a href="#app_tabs_page" data-icon="home" data-iconpos="notext">Home</a>
</div><!-- /header -->

<div data-role="content">
{foreach key=formname item=form from=$forms}							    
	<div>
    {$form}
	</div>
    <div style="height:30px;"></div>
{/foreach}
<a id='lnkDialog' href="#app_dialog_page" data-rel="dialog" data-transition="pop" style="display:none">link dialog</a>
</div>

<div data-role="footer">
	<h2>Page Footer</h2>
</div><!-- /footer -->